*{
  margin-top: 0px;
  text-align: left;
}

.app-container {
  min-height: 100vh; /* min-h-screen */
  background-color: #f9fafb; /* bg-gray-50 */ /* p-8 */
}

/* Wrapper for the content */
.content-wrapper {
  max-width: 80rem; /* max-w-7xl */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 80%;
}

/* Title of the app */
.header-title {
  font-size: 1.875rem; /* text-3xl */
  font-weight: bold; /* font-bold */
  color: #111827; /* text-gray-900 */
}

.side-map{
  height: 90vh;
  display: flex;
  margin-top: 0px;
}

/* Adjustments for Clock and Calendar icons */
.clock-icon {
  width: 14px;
  height: 14px;
  color: #6b7280;
}

.calendar-icon {
  width: 14px;
  height: 14px;
  color: #6b7280;
}
